<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lemarket.data.dao.OrderinfoMapper">
  <resultMap id="BaseResultMap" type="com.lemarket.data.model.Orderinfo">
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="user" jdbcType="INTEGER" property="user" />
    <result column="price" jdbcType="REAL" property="price" />
    <result column="time" jdbcType="TIMESTAMP" property="time" />
    <result column="status" jdbcType="VARCHAR" property="status" />
  </resultMap>

  <resultMap id="OrderWithDetail" type="com.lemarket.data.model.OrderWithDetail">
      <result column="user" jdbcType="INTEGER" property="user" />
      <result column="price" jdbcType="REAL" property="price" />
      <result column="time" jdbcType="TIMESTAMP" property="time" />
      <result column="status" jdbcType="VARCHAR" property="status" />
      <association property="id" javaType="com.lemarket.data.model.Orderdetails">
        <result column="sid" jdbcType="INTEGER" property="id" />
        <result column="sorderInfo" jdbcType="INTEGER" property="orderinfo" />
        <result column="scommodity" jdbcType="INTEGER" property="commodity" />
        <result column="sreceive" jdbcType="INTEGER" property="receive" />
        <result column="scommodityTYPE" jdbcType="INTEGER" property="commodityType" />
        <result column="scount" jdbcType="INTEGER" property="count" />
        <result column="stime" jdbcType="TIMESTAMP" property="time" />
      </association>
  </resultMap>

  <insert id="insert" parameterType="com.lemarket.data.model.Orderinfo">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    insert into OrderInfo (id, user, price, time, status)
    values (#{id,jdbcType=INTEGER}, #{user,jdbcType=INTEGER},
      #{price,jdbcType=REAL}, #{time,jdbcType=TIMESTAMP}, #{status,jdbcType=VARCHAR})
  </insert>
    <update id="updateStatusById">
      UPDATE OrderInfo SET status = #{status} WHERE id = #{id};
    </update>
  <delete id="deleteOrderByOrderId">
    DELETE FROM OrderInfo WHERE id = #{id};
  </delete>
  <select id="selectAll" resultMap="OrderWithDetail">
    <!--
      WARNING - @mbg.generated
      This element is automatically generated by MyBatis Generator, do not modify.
    -->
    select c.user, c.price, c.time, c.status,
    s.id as sid, s.orderInfo as sorderInfo, s.commodity as scommodity,
    s.receive as sreceive, s.commodityType as scommodityType,
    s.count as scount, s.time as stime
    from OrderInfo c, Orderdetails s
    WHERE c.id = s.orderInfo ORDER BY c.id DESC;
  </select>
    <select id="selectByUserIdAndStatus" resultMap="OrderWithDetail">
      select c.user, c.price, c.time, c.status,
        s.id as sid, s.orderInfo as sorderInfo, s.commodity as scommodity,
        s.receive as sreceive, s.commodityType as scommodityType,
        s.count as scount, s.time as stime
      from OrderInfo c, Orderdetails s
      WHERE c.user = #{id} AND c.status = #{status}
      ORDER BY c.id LIMIT #{beginRow}, #{pageSize};
    </select>
  <select id="selectAllById" resultMap="OrderWithDetail">
    select c.user, c.price, c.time, c.status,
      s.id as sid, s.orderInfo as sorderInfo, s.commodity as scommodity,
      s.receive as sreceive, s.commodityType as scommodityType,
      s.count as scount, s.time as stime
    from OrderInfo c, Orderdetails s
    WHERE c.user=#{id} ORDER BY c.id LIMIT #{beginRow}, #{pageSize};
  </select>
  <select id="selectLast" resultMap="BaseResultMap">
    SELECT LAST_INSERT_ID() FROM OrderInfo
  </select>
  <select id="selectOrderByShopIdAndStatus" resultMap="OrderWithDetail">
    select c.user, c.price, c.time, c.status,
      s.id as sid, s.orderInfo as sorderInfo, s.commodity as scommodity,
      s.receive as sreceive, s.commodityType as scommodityType,
      s.count as scount, s.time as stime
    from OrderInfo c, Orderdetails s
    WHERE c.status = #{status} AND c.id in (
      SELECT orderInfo FROM OrderDetails WHERE commodity IN (
        select id FROM Commodity WHERE shop = #{shopId}
      )
    )ORDER BY c.id DESC LIMIT #{beginRow}, #{pageSize};
  </select>
</mapper>